auto-install-peers=true

# Resolve peer dependencies from the workspace root | default is false
resolve-peers-from-workspace-root=true

# https://pnpm.io/npmrc#save-workspace-protocol
save-workspace-protocol=rolling

# Max number of child processes used to build node_modules | default is 5
child-concurrency=8
