.container {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgb(28, 26, 34);
  background: radial-gradient(
    circle,
    rgba(28, 26, 34, 0.8169861694677871) 0%,
    rgb(73, 48, 78) 100%
  );
}

.title {
  font-size: 3em;
  color: #fafafa;
  animation: fadeIn 1.5s ease-in-out;
}

.intro {
  font-size: 1.5em;
  color: #fafafa;
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
